// Specific CSS for your home-page

.container {
  text-align: center;
  margin: 24px;
}

.card {
  height: 220px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin-bottom: 24px;
  padding: 12px;
}
